[submodule "dependencies/submodules/ida-cmake"]
	path = dependencies/submodules/ida-cmake
	url = https://github.com/allthingsida/ida-cmake.git
[submodule "dependencies/submodules/ida-sdk"]
	path = dependencies/submodules/ida-sdk
	url = https://github.com/hexRaysSA/ida-sdk.git
[submodule "dependencies/submodules/json"]
	path = dependencies/submodules/json
	url = https://github.com/nlohmann/json.git
[submodule "dependencies/submodules/Catch2"]
	path = dependencies/submodules/Catch2
	url = https://github.com/catchorg/Catch2.git
